<section>
	<h1>Area Accomodations</h1>
	Speculator and Lake Pleasant are towns in the Adirondack park.  This means there aren't any chain hotels nearby &mdash;
	or any place big enough for everybody.  So we've gathered a list of the area lodging for use on Friday night (or longer if
	you need it).  Most of these are small places with just a few rooms available, and because it's the Adirondacks in the
	summer season, these places	will probably fill up fast, so book soon!
</section>

<section>
	<h4>Lake Pleasant Lodge</h4>
	2839 State Route 30<br />
	Speculator, NY 12164<br />
	<a href="tel:518-548-5253">518-548-5253</a><br />
	<a href="http://www.lakepleasantlodge.com">www.lakepleasantlodge.com</a><br />
</section>

<section class="booked">
	<h4>Melody Lodge</h4>
	111 Old Indian Lake Road<br />
	Speculator, NY 12164<br />
	<a href="tel:518-548-6562">518-548-6562</a><br />
	<a href="http://www.melodylodge.com">www.melodylodge.com</a>
</section>

<section>
	<h4>Cedarhurst Motor Lodge</h4>
	Rts. 8 & 30<br />
	Speculator, NY 12164<br />
	<a href="tel:518-548-6064">518-548-6064</a><br />
	<a href="http://www.cedarhurstmotorlodge.com">www.cedarhurstmotorlodge.com</a>
</section>

<section>
	<h4>Red Pines Bed & Breakfast</h4>
	South Shore Road<br />
	Speculator, NY 12164<br />
	<a href="tel:518-548-5382">518-548-5382</a><br />
	<a href="http://www.citlink.net/~redpines">www.citlink.net/~redpines</a>
</section>

<section>
	<h4>Pleasant Point Country Inn</h4>
	2871 State Rt. 30<br />
	Speculator NY 12164<br />
	<a href="tel:518-548-3559">518-548-3559</a><br />
	<a href="http://www.pleasantpointcountryinn.com/">www.pleasantpointcountryinn.com</a>
</section>

<section>
	<h4>Irondequoit Inn</h4>
	471 Old Piseco Rd.<br />
	Piseco, NY 12139<br />
	<a href="tel:518-548-5500">518-548-5500</a><br />
	<a href="http://www.irondequoitinn.com">www.irondequoitinn.com</a>
</section>

<section>
	<h4>Oxbow Lake Motel</h4>
	Route 8<br />
	Piseco, NY 12139<br />
	<a href="tel:518-548-8603">518-548-8603</a><br />
	<a href="http://www.oxbowlakemotel.com">www.oxbowlakemotel.com</a>
</section>

<section>
	PS: if you hear that any of these are filled up, let us know and we'll cross them off the list.
</section>