<div class="container">
	<section class="row">
			<h1>{{currentRoute.title}}</h1>

			If you are thinking of spending some extra time while you're up here, there's quite a lot to do in the area.
	</section>

	<section id="things-to-do" class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Hiking</h3>
			It's the Adirondacks!  There's so many mountains nearby, go to the top of them!  I've always wanted to hike up nearby Blue Mountain.  And
			the High Peaks region (near Lake Placid) is two hours drive north.  If mountains aren't your thing, there's tons of relatively flat trails
			all over the park, so finding something at your level shouldn't be very difficult.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Swimming</h3>
			The Adirondacks are full of some beautiful lakes and ponds.  There's public beaches in just about every town, and if you're not in a town and
			come upon a body of water, feel free to hop in for a dip.  So bring your swimsuits and have them available for any occasion, some of us try to
			jump in the nearest body of water after every long hike!
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Mountain towns</h3>
			If walking around cute towns with an ice cream cone and going window shopping is your thing, there's many cute mountain towns nearby to visit.
			Most, but not all, of them are named after lakes: Blue Mountain Lake, Long Lake, Northville, Tupper Lake, Saranac Lake, Old Forge,
			and Lake Placid are all cute towns worth exploring.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Lake Placid</h3>
			Lake placid is one of our favorite areas and is worth its own mention. It's a two hour drive north from Speculator.  Once there, you can explore
			the site of	2 (TWO!) olympic games, which includes a bobsled run and ski jumps.  Or you can explore the cute downtown and olympic museum or
			drive up to the top of Whiteface Mountain.  Unfortunely, the infamous Pipe and Book has closed, so you'll have to bring	your own pipes and books.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Amusement parks</h3>
			There's <a href="http://www.watersafari.com/">Enchanted Forest Water Safari</a> (where the fun never stops) in Old Forge, which is about an hour
			and a half west of Speculator.  Additionally, about an hour east will take you to <a href="https://www.sixflags.com/greatescape">The Great Escape</a>
			or <a href="http://www.adirondackextreme.com/">Adirondack Extreme Adventure Course</a> which are both near Lake George.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>On the water</h3>
			There's lakes everywhere!  Big ones like Lake George and the Great Sacandaga Lake and little ones like Lake Pleasant and Oxbow Lake.  When there's
			lakes, you can go out on the water.  There's motor boat and jet ski rentals for the big ones, and kayak and canoe rentals in the smaller ones.  A
			few	even have sea planes that you can charter for a ride.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Mountain Biking</h3>
			There's downhill mountain biking at Oak Mountain.  Bring your own bike and buy a day pass so you can haul it up on the lift and then show the
			mountain who's boss all day long.  More info <a href="http://oakmountainski.com/home/index.php/mountain/mountainbiking">here</a>.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Every type of Golf</h3>
			For the traditionalists, there's the Lake Pleasant Golf course in, unsurprisingly, the town of Lake Pleasant.  For those that don't have
			that level of commitment, Oak Mountain offers both a new course with nine holes of mini golf and they are planning on
			<a href="http://oakmountainski.com/home/index.php/mountain/disc-golf">adding a disc golf course</a> this Spring.
		</div>
	</section>
</div>

<script type="text/javascript">
	$(function () {
		//set all the blocks to be the same height
		var maxHeight = -1;
		$('#things-to-do').children().each(function () {
			var thisHeight = $(this).height();
			if (thisHeight > maxHeight)
				maxHeight = thisHeight;
		});

		$('#things-to-do').children().height(maxHeight);
	});
</script>