<div class="container">
	<section class="row">
			<h1>{{currentRoute.title}}</h1>

			If you have thinking of spending some extra time while you're up here, there's quite a lot to do in the area.
	</section>

	<section class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Mountain Biking</h3>
			There's downhill mountain biking at oak mountain.  Bring your own bike and you can bring it up on the lift and then ride za down.  More info <a href="http://oakmountainski.com/home/index.php/mountain/mountainbiking">here</a>.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Boat rental</h3>
			Lots of lakes, can rent boats and go motoring, kayaking, canoeing in the lakes
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Swimming</h3>
			The Adirondacks are full of some beautiful lakes and ponds.  So bring Do some swimming at the beaches
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Hiking</h3>
			It's the Adirondacks!  There's so many mountains nearby, go to the top of them!  I've always wanted to hike up Blue Mountain.  And the High
			Peaks	region (near Lake Placid) two hours drive north.  If mountains aren't your thing, there's tons of relatively flat trails all over the park,
			so finding something at your level shouldn't be very difficult.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Lake Placid</h3>
			Lake placid is one of our favorite areas and is worth its own mention. It's a two hour drive north from Speculator.  Once there, you can explore
			the site of	two (2!) olympic games, which includes a bobsled run and ski jumps.  You can drive to the top of Whiteface Mountain.  You can explore
			their cute downtown and olympic museum.  Unfortunely, The Pipe and Book has closed, so you'll have to bring your own pipes and books.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Mountain towns</h3>
			There's so many cute mountain towns nearby &mdash; if walking around town with an ice cream cone and doing shopping is your thing, there's many
			options available.  Most of them are named after lakes: Northville, Old Forge, Blue Mountain Lake, Long Lake, Tupper Lake, Saranac Lake,
			and Lake placid are all cute towns worth exploring.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Amusement parks</h3>
			There's <a href="http://www.watersafari.com/">Enchanted Forest Water Safari</a> (where the fun never stops) in Old Forge, which is about
			an hour and a half west. Of course <a href="https://www.sixflags.com/greatescape">The Great Escape</a> is about an hour east, in Lake George.
			Also in Lake George, <a href="http://www.adirondackextreme.com/">Adirondack Extreme Adventure Course</a> looks pretty neat.
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>Disc Golf</h3>
			Allegedly there will be a course built this spring at Oak Mountain.  More info <a href="http://oakmountainski.com/home/index.php/mountain/disc-golf">here</a>.
		</div>
	</section>
</div>