<section>
	<h1>{{currentRoute.title}}</h1>

	If you have some extra time, there's quite a lot to do in the area.
</section>

<section>
	<h3>Mountain Biking</h3>
	Mountain biking at oak mountain
</section>

<section>
	<h3>Boat rental</h3>
	Lots of lakes, can rent boats and go motoring, kayaking, canoeing in the lakes
</section>

<section>
	<h3>Swimming</h3>
	Do some swimming at the beaches
</section>

<section>
	<h3>Hiking</h3>
	Many mountains nearby, climb them.  Blue mountain close or high peaks 1.5 hours drive.
	Also there's flat trails too - the northville placid trail goes nearby? i think?
</section>

<section>
	<h3>Mountain towns</h3>
	Northville, Old Forge, Blue mountain Lake, Long Lake, Tupper Lake, Saranac Lake, Lake placid are all cute towns worth exploring
</section>

<section>
	<h3>Amusement parks</h3>
	There's Adventure forest / Water safari in old forge.  The great escape?? in Lake George
</section>