<h1>{{currentRoute.title}}</h1>

<section>
	<h3>Travelling in</h3>
	<p>
		Speculator is located on Lake Pleasant in the Adirondack Park.  It is where Routes 8 &amp; 30 intersect.  For reference, it's about an hour west of Lake George,
		45 minutes south of Blue Mountain Lake, and a hour north of Gloversville.
	</p>
	<p>
		For those coming in from far away, the closest airport is located in Albany, NY (ALB). From Albany, it'll take about 1.5 hours to drive to up to Speculator.
	</p>
	<p>
		Additionally, the Syracuse airport (SYR) and Plattsburgh airport (PBG) are both around a 2 hour drive away.
	</p>
</section>

<section>
	<h3>Oak Mountain</h3>
	141 Novosel Way<br />
	Speculator, NY 12164<br />
	<a href="https://www.google.com/maps/place/141+Novosel+Way,+Speculator,+NY+12164">Maps</a>
</section>

<section>
	<h3>Saturday BBQ</h3>
	106 Pelcher Rd<br />
	Lake Pleasant, NY 12108<br />
	<a href="https://www.google.com/maps/place/106+Pelcher+Rd,+Lake+Pleasant,+NY+12108/">Maps</a>
</section>