<section>
	<img class="full-width" src="images/mikesam.jpg" alt="mike and sam" />
</section>

<h1>Welcome</h1>

<section>
	<p>
		If you haven't figured out by now, we are getting married, and you're invited.
	</p>
	<p>
		As nature loving folk, our ceremony will take place on top of a mountain in the Adirondack Park.  So come on out to join
		us on our wedding day. In typical Mike and Sam fashion, things will not be boring. Hop on a ski lift for a relaxing ride
		to the top, enjoy the scenic landscape, and hope that it doesn't rain - but bring your umbrellas just in case : )
	</p>
	<p>
		Please browse through the website.  Hopefully we've answered any questions you may have, but feel free to reach out	to
		either of us with anything further.  We hope to see you there for the "BIG" day on Friday 8/21/15, and please	also join
		us on Saturday 8/22/15 for a more relaxed BBQ style gathering.
	</p>
</section>