<h1>{{currentRoute.title}}</h1>

<section>
	<p>
		The wedding and ceremony is on Friday, August 21 and includes a get together on Saturday, August 22.
	</p>
</section>

<section>
	<h4>Friday, August 21</h4>
	<p>
		Please arrive at the Oak Mountain ski area in Speculator, NY at 3:00pm.  Everybody will get a ride up to the top of the mountain
		for the ceremony and it might take a while, so try to be on time.  Because it's such a nice view, we'll have some time for lingering
		after the ceremony before we all head down to the coctail hour and reception with buffet dinner and dancing.  The events are scheduled
		to go until 11pm.
	</p>
</section>

<section>
	<h4>Saturday, August 22</h4>
	<p>
		We are hosting a BBQ and get together the day after the ceremony.  We've rented a house with a nice big yard and a little beach just across the street.
		We're counting on you stopping by so that we can spend more than just a few minutes with everybody at the reception (i don't want to cut too much into
		my dancing time).  You are invited to attend for as little or as long as you'd like.  Swing on by <span>106 Pelcher Road in Lake Pleasant, NY</span>
		anytime starting at 10:00am.  We'll have food and fun and games all day long.
	</p>
</section>