<div class="content">
	<h1>{{currentRoute.title}}</h1>

	<p>
		The wedding is planned for Friday, August 21 and includes a get together on Saturday, August 22.
	</p>

	<h4>Friday, August 21</h4>

	<p>
		Please arrive at Oak Mountain in Speculator, NY at 3:00pm.  You can find directions <a href="#/directions">here</a>.
	</p>

	<h4>Saturday, August 22</h4>
	<p>
		We are hosting a BBQ and get together the day after the ceremony.  We figure that this will allow us to spend more than
		just a few minutes with each person.  You are invited to attend for as little or as long as you'd like.  Swing on by
		106 Pelcher Road in Lake Pleasant, NY anytime starting at 10:00am.  We'll have food and fun and games all day long.
	</p>
</div>