<div class="content">
	<h1>{{currentRoute.title}}</h1>
</div>

<p>
	Thank you for checking out our registry.  We are not doing one.  Because we have been living together for a number of years, we already
	have everything that we need and don't need any more stuff.
</p>
<p>
	That being said, there’s always things that we fantasize about - like a vacation house in Colorado with our own private zipline.  However,
	it seems unreasonable to ask for that, so we just decided to skip the whole registry thing all together.
</p>