.header-nav-container{
	@media (max-width: 37em) {
    display: none;
  }
}

.header-nav {
	text-align: center;
	background-color: #eee;
	max-height: 50px;
}
.header-nav-menu-wrapper{
	display: inline-block;
}
.header-nav-menu-wrapper>ul {
	padding-left: 0;
	list-style: none;
}
.header-nav-menu-wrapper>ul>li {
	float: left;
	position: relative;
	display: block;
}
.header-nav-menu-wrapper>ul>li>a {
	line-height: 20px;
	color: #777;
	position: relative;
	display: block;
	padding: 15px;
}

//the footer navigation - just a dropdown fixed to the bottom of the page
.footer-nav{
	position: fixed;
	height: 5ex;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: .25ex;
	
	@media (min-width: 37em) {
    display: none;
  }
}