<div class="content">

	<section class="row">
		<img class="col-md-12" src="http://lorempixel.com/1600/900/people/" alt="mike and sam" />
	</section>

	<section>
		<h1>When &amp; Where</h1>
		<p>
			The wedding is planned for Friday, August 21 and includes a get together on Saturday, August 22.
		</p>

		<h4>Friday, August 21</h4>

		<p>
			Please arrive at Oak Mountain in Speculator, NY at 3:00pm.  You can find directions <a href="#/directions">here</a>.
		</p>

		<h4>Saturday, August 22</h4>
		<p>
			We are hosting a BBQ and get together the day after the ceremony.  We figure that this will allow us to spend more than
			just a few minutes with each person.  You are invited to attend for as little or as long as you'd like.  Swing on by
			106 Pelcher Road in Lake Pleasant, NY anytime starting at 10:00am.  We'll have food and fun and games all day long.
		</p>
	</section>

	<section>
		<h1>RSVP</h1>
		<p>
			Let us know you're coming by filling out the RSVP form <a href="https://docs.google.com/forms/d/1ntLtGkKoqOJYsL9DReL1MbXMdm3on6lMSGpuwQITavI/viewform" target="wedding-rsvp">here</a>
		</p>
	</section>

</div>
