<!doctype html>

<html lang="en" data-ng-app="reunion">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title data-ng-bind="'Mike and Sam Wedding - ' + currentRoute.title">Mike and Sam Wedding</title>

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../styles/css/site.css" rel="stylesheet" />

	<link rel="canonical" href="http://www.mikesamwedding.com" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<body class="ng-cloak">

	<header>
		<img src="images/website-banner.jpg" alt="banner" style="width:100%" />

		<!-- header navigation -->
		<div id="menu" class="header-nav sticky">
			<ul>
				<li data-ng-repeat="r in routes"><a href="#{{r.path}}">{{r.title}}</a></li>
			</ul>
		</div>
	</header>

	<section class="body container">
		<div class="row">
			<aside class="col-md-2 col-xs-12">
				<h1>RSVP</h1>
				<p>
					Let us know you're coming by filling out the RSVP form <a href="https://docs.google.com/forms/d/1ntLtGkKoqOJYsL9DReL1MbXMdm3on6lMSGpuwQITavI/viewform" target="wedding-rsvp">here</a>
				</p>
			</aside>

			<!-- the content -->
			<div class="ng-view col-md-10 col-xs-12"></div>
		</div>
	</section>

	<section>
		i want some space here <br />
		i want some space here <br />
		i want some space here <br />
		i want some space here <br />
	</section>

	<footer class="content footer">

		<!-- footer navigation -->
		<div class="footer-nav">
			<select class="dropdown" data-ng-model="$root.currentRoute" data-ng-options="r.title for r in routes" data-ng-change="redirect()"></select>
		</div>
	</footer>

	<!-- overlay used to block UI while loading -->
	<div data-ng-show="processing" class="overlay">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
	</div>

	<!-- this needs to be loaded before angular -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.min.js"></script>

	<!-- plugins -->

	<!-- reunion -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
	<!--<script src="scripts/filters.js"></script>
	<script src="scripts/directives.js"></script>-->

	<script type="text/javascript">
		//$(function () {
		//	// Create a clone of the menu, right next to original.
		//	$('#menu').addClass('original').clone().insertAfter('#menu').addClass('cloned').css('position', 'fixed').css('top', '0').css('margin-top', '0').css('z-index', '500').removeClass('original').hide();

		//	scrollIntervalID = setInterval(stickIt, 10);


		//	function stickIt() {

		//		var orgElementPos = $('.original').offset();
		//		orgElementTop = orgElementPos.top;

		//		if ($(window).scrollTop() >= (orgElementTop)) {
		//			// scrolled past the original position; now only show the cloned, sticky element.

		//			// Cloned element should always have same left position and width as original element.
		//			orgElement = $('.original');
		//			coordsOrgElement = orgElement.offset();
		//			leftOrgElement = coordsOrgElement.left;
		//			widthOrgElement = orgElement.css('width');
		//			$('.cloned').css('left', leftOrgElement + 'px').css('top', 0).css('width', widthOrgElement).show();
		//			$('.original').css('visibility', 'hidden');
		//		} else {
		//			// not scrolled past the menu; only show the original menu.
		//			$('.cloned').hide();
		//			$('.original').css('visibility', 'visible');
		//		}
		//	}
		//});
	</script>
</body>
</html>

