<img class="full-width" src="images/mikesam.jpg" alt="mike and sam" />

<p>
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />
	Some stuff here <br />

</p>